
.container {
  width: 90%;
  margin: 8rem auto auto auto;
  text-align: right;
}

table {
  width: 100%;
  text-align: initial;
}

button {
  width: 15%;
  margin-bottom: 2rem;
}

.delete {
  color: red;
}
